
   .block {
      background-color: lightblue;
      margin: 10px 0;
      padding: 10px;
    }
    
   .button:hover {
      background-color: #0056b3;
   }
    
   .input:focus {
      border-color: red;
   }
   
   .form__input {
   width: 100%;
   padding: 8px;
   margin-bottom: 16px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

   .list {
      list-style: none;
      padding: 0;
   }
   
   .list__item {
      padding: 10px;
      border: 1px solid #ccc;
      margin-bottom: 5px;
   }
   
   .list-item:first-child {
      font-weight: bold;
   }
   
   .list-item:last-child {
      color: #ff0000;
   }

   .list__item:nth-child(even) {
   background-color: #f1f1f1;
}

.list__item:nth-child(3) {
   background-color: #d1c4e9;
   color: #fff;
}

   
   
