
p {
   display: block;
   margin: auto;
   color: blue;
} 


h1 {
   display: block;
   margin: auto;
   font-family: 'Arial', sans-serif;
} 
.highlight {
   display: block;
   margin: auto;
   background-color: yellow;
}

div {
   display: block;
   margin: auto;
   text-align: center;
} 

h2 {
   display: block;
   margin: auto;
   font-weight: bold;
}

.home {
   display: block;
   margin: auto;
   border: 1px solid black;
   padding: 10px;
   margin: 5px;
}

.collection {
   display: block;
   margin: auto;
   border: 2px solid red;
   padding: 15px;
   margin: 12px;
   width: 200px;
   height: 100px;
   overflow: scroll;
   font-size: 20px;
   scrollbar-width: thin;
}
.club{
   display: block;
   margin: auto;
}